#tit1 {
    color: white;
    background-color: red;
}

th {
    background-color: aqua;
    width: 200px;
    right: 2000px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: aquamarine;
    
}


