#tit1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkolivegreen;
    font-size: 40px;
}
#container {
    font-family: cursive;
    color: rgb(82, 51, 51);
    background-color: aqua;
    right: 400px;
    width: 800px;
    font-size: 15px;
}
dt {
    color: black;
}

